/*============> Responsividade index.html <============*/

@media (max-width: 375px) {

    .banner {
        padding: 20px;
    }

    .banner header {
        padding: 20px 50px;
    }

    .banner .content h1 {
        font-size: 4.2rem;
    }

    .banner .content p {
        font-size: 18px;
    }




    section .about .contentBx{
        background: #42955e;
    }

    .contact {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
    }

    .contact .t-res{
        background: #42955e;
        position: relative;
        left: 1.8rem;
    }



    .footer {
    
    }



}


@media (max-width: 660px) {

    .client .bancos{
        display: flex;
        justify-content: center;
        font-size: 4rem;
        margin: 0.5rem 0.5rem;
    }

}


@media (max-width: 991px) {

    .banner {
        padding: 50px;
    }

    .banner header {
        padding: 20px 50px;
    }

    .banner .content h2 {
        font-size: 36px;
    }

    .banner .content p {
        font-size: 18px;
    }

    .about {
        flex-direction: column;
    }

    .about .contentBx,
    .about .imgBx {
        width: 100%;
        padding: 50px;
        min-height: 400px;
        text-align: center;
    }

    .services {
        padding: 50px;
    }

    .services .container {
        justify-content: center;
        margin-top: 20px;
    }

    .services .container .serviceBx {
        margin: 20px;
        width: 300px;
        height: 350px;
    }

    .technology {
        padding: 50px;
        padding-top: 300px;
        justify-content: center;
        flex-direction: column;
    }

    .technology .imgBx {
        margin-top: 40px;
        max-width: 250px;
    }

    .client {
        padding: 50px;
    }

    .client .imgBx {
        justify-content: center;
    }

    .testimonials {
        padding: 50px;
    }

    .testimonials .contentBx{
        padding: 60px 40px;
        max-width: 550px;
        margin-bottom: 40px;

    }

    .testimonials .contentBx:last-child{
        margin-bottom: 0px;
    }

    .contact {
        padding-left: 50px;
    }

    .footer {
        /* position: relative;
        top: 15rem; */
    }

    .footer ul {

    }

    .about .imgBX-left {
        object-fit: cover;
        width: 100%;
    }
    
}